body {
  background-color: beige;
}

h1 {
  color: blue;
  transition: color 0.5s ease-in-out;
}

.active {
  color : tomato
}

.red {
  color: red;;
}

.hidden {
  visibility:hidden;
  /* display: none; */
  /* visibility 해당공간은 두고, display 공간자체를 숨기는 차이가 있다. */
}